@import '_mixins'

.container
    @include container

header
    background-color: #121214
    .nav
        padding-block: 33px
        width: 100%
        .nav-menu
            display: grid
            width: 100%
            grid-template-columns: 2fr 8fr 3fr
            #burger
                display: none
            #logo
                font-size: 32px
                font-weight: 1000
                text-align: center
                color: white
            #menu
                display: flex
                align-items: center
                width: 100%
                padding-inline: 50px
                ul
                    width: 100%
                    display: flex
                    justify-content: space-between
                    li>a
                        color: white
            #icons
                display: flex
                align-items: center
                width: 100%
                .icons-flex
                    width: 100%
                    padding-left: 50px
                    display: flex
                    justify-content: space-between
                    div>i
                        font-size: 18px
                        color: white
                        cursor: pointer

main
    background: url('../img/bg-xwear.png')
    background-size: contain
    background-repeat: no-repeat
    background-position-y: 82.5%
    div
        .presentation-slider
            @include pad($pad: 50px)
            .slider
                height: 631px
                background-color: rgb(65, 78, 21)
                border-radius: 7px
                overflow: hidden
                position: relative
                .wave
                    height: 100%
                    display: grid
                    grid-template-columns: 100% 100% 100% 100%
                    transition: 0.5s
                    .wrapped
                        height: 100%
                        width: 100%
                        .content
                            // height: 487px
                            width: 571px
                            // display: flex
                            // flex-direction: column
                            // justify-content: space-between
                            padding-top: 98px
                            padding-left: 90px
                            .main-title
                                h1
                                    font-size: 51px
                                h2
                                    margin-top: 19px
                                    font-size: 19px
                                a
                                    display: inline-block
                                    margin-top: 19px
                                    font-size: 12px
                                    padding: 23px 27px
                                    background-color: #121214
                                    border-radius: 5px
                                    color: white
                                    cursor: pointer
                    .wrapped-1
                        background-color: rgb(78, 78, 78)
                        background-image: url('../img/main-slider-1.png')
                        background-size: cover
                        background-position: center
                    .wrapped-2
                        background-color: rgb(224, 98, 98)
                        background-image: url('../img/main-slider-1.png')
                        background-size: cover
                        background-position: center
                    .wrapped-3
                        background-color: rgb(98, 98, 98)
                        background-image: url('../img/main-slider-1.png')
                        background-size: cover
                        background-position: center
                    .wrapped-4
                        background-color: rgb(109, 109, 09)
                        background-image: url('../img/main-slider-1.png')
                        background-size: cover
                        background-position: center
                .dots
                    position: absolute
                    right: 77px
                    top: 50%
                    transform: translateY(-50%)
                    display: flex
                    flex-direction: column
                    row-gap: 45px
                    z-index: 3
                    .dot
                        height: 6px
                        width: 6px
                        background-color: white
                        border-radius: 50%
                        cursor: pointer
                        transition: 0.5s
                        &.active
                            width: 10px
                            height: 10px
                .buttons
                    position: absolute
                    left: 90px
                    bottom: 46px
                    z-index: 3
                    button
                        font-size: 14px
                        width: 67px
                        height: 67px
                        border-radius: 50%
                        border: none
                        background-color: #F0F2F6
                        cursor: pointer
                        transition: all 0.5s
                        &:nth-of-type(2)
                            margin-left: 15px
                        &:hover
                            background-color: white
        .shoes, .clother, .accessories
            @include pad(80px)
            .block
                height: 530px
                // background-color: rgb(21, 128, 243)
                width: 88%
                margin: 0 auto
                display: grid
                grid-template-rows: 0.33fr 4.5fr 1fr
                overflow: hidden
                position: relative
                .title
                    display: flex
                    justify-content: space-between
                    align-items: center
                    h2
                        font-size: 31px
                        color: #121214
                    h3
                        a
                            font-size: 14px
                            color: black
                            position: relative
                            &::after
                                content: ""
                                width: 100%
                                height: 2px
                                background-color: black
                                position: absolute
                                top: 125%
                                left: 0
                .product
                    display: grid
                    grid-template-columns: repeat(16, 25%)
                    height: 100%
                    transition: 0.5s
                    &-unit
                        align-self: flex-end
                        display: flex
                        flex-direction: column
                        .favorite
                            align-self: flex-end
                            a
                                color: black
                        .img
                            img
                                width: 100%
                        h3
                            font-size: 19px
                            a
                                color: black
                        h4
                            font-size: 14px
                            color: #3C3C3C
                .buttons
                    display: flex
                    align-items: center
                    justify-self: center
                    a
                        cursor: pointer
                    .dots-shoes, .dots-clother, .dots-accessories
                        display: flex
                        flex-direction: row
                        align-items: center
                        column-gap: 45px
                        z-index: 3
                        margin-inline: 45px
                        .dot-shoes, .dot-clother, .dot-accessories
                            height: 6px
                            width: 6px
                            background-color: black
                            border-radius: 50%
                            cursor: pointer
                            transition: 0.5s
                            &.active
                                width: 10px
                                height: 10px
                            
        .calculator
            @include pad(80px)
            .block
                height: calc(631 * 1vw/19.2)
                background: linear-gradient(93deg, #0D99F8 0.94%, #21A0F8 5.36%, #54B5FF 27.35%, #0DBBF8 79%, #0DDBF8 97.53%)
                border-radius: 7px
                display: grid
                grid-template-columns: 2fr 1fr
                .main-title
                    padding-top: calc(98 * 1vw/19.2)
                    padding-left: calc(90 * 1vw/19.2)
                    width: 83%
                    h2
                        font-size: calc(51 * 1vw/19.2)
                        color: white
                        letter-spacing: 5px
                        line-height: calc(63 * 1vw/19.2)
                    h3
                        margin-top: 19px
                        font-size: calc(19 * 1vw/19.2)
                        color: white
                        // letter-spacing: 5px
                        line-height: calc(32 * 1vw/19.2)
                        font-weight: 1000
                        font-family: "AvenirNextCyr-Thin"
                    .instruction
                        margin-top: 24px
                        display: grid
                        grid-template-columns: repeat(2, 1fr)
                        column-gap: 58px
                        .step
                            display: grid
                            grid-template-columns: auto calc(258 * 1vw/19.2)
                            column-gap: calc(20 * 1vw/19.2)
                            .number
                                font-size: 24px
                                line-height: 32px
                                border: solid 1px rgba(255, 255, 255, 0.5)
                                border-radius: 50%
                                width: calc(77 * 1vw/19.2)
                                height: calc(77 * 1vw/19.2)
                                color: white
                                display: flex
                                justify-content: center
                                align-items: center
                                // justify-self: center
                                align-self: center
                            .text
                                font-size: calc(16 * 1vw/19.2)
                                line-height: calc(22 * 1vw/19.2)
                                font-family: "AvenirNextCyr-Thin"
                                color: white
                                font-weight: 1000
                                align-self: center
                    a
                        display: inline-block
                        margin-top: calc(41 * 1vw/19.2)
                        font-size: calc(12 * 1vw/19.2)
                        padding: calc(23 * 1vw/19.2) calc(27 * 1vw/19.2)
                        background-color: #121214
                        border-radius: calc(5 * 1vw/19.2)
                        color: #fff
                        cursor: pointer
                .img
                    height: 100%
                    position: relative
                    img
                        height: 142%
                        position: absolute
                        bottom: -23%
                        right: 5%
        .about-shop
            @include pad(80px)
            .block
                height: calc(426 * 1vw/19.2)
                // background-color: rgb(56, 243, 0)
                width: 88%
                margin: 0 auto
                display: grid
                grid-template-columns: 2fr 1fr
                column-gap: calc(69 * 1vw/19.2)
                .main-title
                    height: calc(383 * 1vw/19.2)
                    display: flex
                    flex-direction: column
                    justify-content: center
                    h2
                        font-size: calc(36 * 1vw/19.2)
                        line-height: calc(48 * 1vw/19.2)
                        text-transform: uppercase
                        font-weight: 1000
                        font-family: "AvenirNextCyr-Bold"
                    h3
                        .parph
                            margin-top: calc(16 * 1vw/19.2)
                            font-size: calc(16 * 1vw/19.2)
                            font-family: "AvenirNextCyr-Thin"
                            font-weight: 1000
                            line-height: calc(30 * 1vw/19.2)
                .advantages
                    width: 100%
                    height: 100%
                    background-color: white
                    box-shadow: 0px 12px 27px 0px rgba(0, 0, 0, 0.04), 0px 50px 50px 0px rgba(0, 0, 0, 0.03), 0px 112px 67px 0px rgba(0, 0, 0, 0.02), 0px 199px 80px 0px rgba(0, 0, 0, 0.01), 0px 312px 87px 0px rgba(0, 0, 0, 0)
                    border-radius: calc(5 * 1vw/19.2)
                    display: flex
                    align-items: center
                    &-block
                        display: grid
                        grid-template-rows: repeat(3, 1fr)
                        row-gap: calc(40 * 1vw/19.2)
                        width: calc(322.25 * 1vw/19.2)
                        height: calc(347.75 * 1vw/19.2)
                        margin-block: auto
                        margin-inline: auto
                        &-unit
                            display: grid
                            grid-template-columns: 1fr 3fr
                            .imgPc
                                img
                                    width: calc(51.5 * 1vw/19.2)
                                    height: calc(51.5 * 1vw/19.2)
                            .text
                                h3
                                    font-size: calc(16 * 1vw/19.2)
                                    font-family: "AvenirNextCyr-Bold"
                                    line-height: calc(22*1vw/19.2)
                                    text-transform: uppercase
                                    color: rgba(18, 18, 20, 1)
                                h4
                                    margin-top: calc(4 * 1vw/19.2)
                                    font-size: calc(14 * 1vw/19.2)
                                    font-family: "AvenirNextCyr-Thin"
                                    line-height: calc(20*1vw/19.2)
                                    color: rgba(48, 48, 48, 1)
        .our-blog
            @include pad(80px)
            padding-bottom: 118px
            .block
                height: calc(600*1vw/19.2)
                // background-color: red
                &-content
                    width: 88%
                    height: 100%
                    margin: 0 auto
                    display: grid
                    grid-template-rows: 0.33fr 4.5fr 1fr
                    overflow: hidden
                    .title
                        height: 100%
                        display: grid
                        grid-template-columns: repeat(2, 1fr)
                        h3
                            text-align: right
                            a
                                font-size: 14px
                                color: black
                                position: relative
                                &::after
                                    content: ""
                                    width: 100%
                                    height: 2px
                                    background-color: black
                                    position: absolute
                                    top: 125%
                                    left: 0
                    .wave-news
                        margin-top: calc(33*1vw/19.2)
                        width: 100%
                        height: 100%
                        overflow: hidden
                        &-content
                            display: grid
                            grid-template-columns: repeat(12, 33.33%)
                            transition: 0.5s
                            &-unit
                                display: flex
                                flex-direction: column
                                &:nth-of-type(3n+1)
                                    padding-right: calc(15*1vw/19.2)
                                &:nth-of-type(3n+2)
                                    padding-inline: calc(15*1vw/19.2)
                                &:nth-of-type(3n+3)
                                    padding-left: calc(15*1vw/19.2)
                                .img
                                    img
                                        width: 100%
                                .title-text
                                    margin-top: calc(13*1vw/19.2)
                                    font-family: "AvenirNextCyr-Bold"
                                    font-size: calc(23*1vw/19.2)
                                    line-height: calc(30*1vw/19.2)
                                    color: rgba(18, 18, 20, 1)
                                .text
                                    margin-top: calc(13*1vw/19.2)
                                    font-family: "AvenirNextCyr-Thin"
                                    font-size: calc(15*1vw/19.2)
                                    line-height: calc(25*1vw/19.2)
                                    color: rgba(48, 48, 48, 1)
                                .bottom-nav
                                    margin-top: calc(13*1vw/19.2)
                                    display: grid
                                    grid-template-columns: repeat(2, 1fr)
                                    .link
                                        a
                                            font-family: "AvenirNextCyr-Bold"
                                            font-size: calc(14*1vw/19.2)
                                            line-height: calc(15*1vw/19.2)
                                            color: black
                                    .date
                                        font-family: "AvenirNextCyr-Demi"
                                        font-size: calc(11*1vw/19.2)
                                        line-height: calc(23*1vw/19.2)
                                        color: rgba(140, 143, 150, 1)
                                        display: flex
                                        justify-content: flex-end
                                        align-items: flex-end
                    .buttons
                        display: flex
                        align-items: flex-end
                        justify-self: center
                        a
                            cursor: pointer
                        .dots-news
                            display: flex
                            flex-direction: row
                            align-items: center
                            column-gap: 45px
                            z-index: 3
                            margin-inline: 45px
                            height: calc(22*1vw/19.2)
                            .dot-news
                                height: 6px
                                width: 6px
                                background-color: black
                                border-radius: 50%
                                cursor: pointer
                                transition: 0.5s
                                &.active
                                    width: 10px
                                    height: 10px

footer
    background-color: black
    height: calc(371*1vw/19.2)
    .footer-grid
        display: grid
        grid-template-columns: repeat(4, 1fr)