@import '_mixins'

.container
    @include container

header
    background-color: #121214
    .nav
        padding-block: 33px
        width: 100%
        .nav-menu
            display: grid
            width: 100%
            grid-template-columns: 2fr 8fr 3fr
            #burger
                display: none
            #logo
                font-size: 32px
                font-weight: 1000
                text-align: center
                color: white
            #menu
                display: flex
                align-items: center
                width: 100%
                padding-inline: 50px
                ul
                    width: 100%
                    display: flex
                    justify-content: space-between
                    li>a
                        color: white
            #icons
                display: flex
                align-items: center
                width: 100%
                .icons-flex
                    width: 100%
                    padding-left: 50px
                    display: flex
                    justify-content: space-between
                    div>i
                        font-size: 18px
                        color: white
                        cursor: pointer

main
    div
        .presentation-slider
            @include pad($pad: 50px)
            .slider
                height: 631px
                background-color: rgb(65, 78, 21)
                border-radius: 7px
                overflow: hidden
                position: relative
                .wave
                    height: 100%
                    display: grid
                    grid-template-columns: 100% 100% 100% 100%
                    transition: 0.5s
                    .wrapped
                        height: 100%
                        width: 100%
                        .content
                            // height: 487px
                            width: 571px
                            // display: flex
                            // flex-direction: column
                            // justify-content: space-between
                            padding-top: 98px
                            padding-left: 90px
                            .main-title
                                h1
                                    font-size: 51px
                                h2
                                    margin-top: 19px
                                    font-size: 19px
                                a
                                    display: inline-block
                                    margin-top: 19px
                                    font-size: 12px
                                    padding: 23px 27px
                                    background-color: #121214
                                    border-radius: 5px
                                    color: white
                                    cursor: pointer
                    .wrapped-1
                        background-color: rgb(78, 78, 78)
                    .wrapped-2
                        background-color: rgb(224, 98, 98)
                    .wrapped-3
                        background-color: rgb(98, 98, 98)
                    .wrapped-4
                        background-color: rgb(109, 109, 09)
                .dots
                    position: absolute
                    right: 77px
                    top: 50%
                    transform: translateY(-50%)
                    display: flex
                    flex-direction: column
                    row-gap: 45px
                    z-index: 3
                    .dot
                        height: 6px
                        width: 6px
                        background-color: white
                        border-radius: 50%
                        cursor: pointer
                        transition: 0.5s
                        &.active
                            width: 10px
                            height: 10px
                .buttons
                    position: absolute
                    left: 90px
                    bottom: 46px
                    z-index: 3
                    button
                        font-size: 14px
                        width: 67px
                        height: 67px
                        border-radius: 50%
                        border: none
                        background-color: #F0F2F6
                        cursor: pointer
                        &:nth-of-type(2)
                            margin-left: 15px
        .shoes, .clother, .accessories
            @include pad(80px)
            .block
                height: 530px
                background-color: rgb(21, 128, 243)
        .calculator
            @include pad(80px)
            .block
                height: 631px
                background-color: rgb(121, 121, 121)
        .about-shop
            @include pad(80px)
            .block
                height: 426px
                background-color: rgb(56, 243, 0)
        .our-blog
            @include pad(80px)
            padding-bottom: 118px
            .block
                height: 600px
                background-color: rgb(244, 56, 56)
footer
    background-color: rgb(74, 28, 139)
    .footer-grid
        display: grid
        grid-template-columns: repeat(4, 1fr)