@import '_variables'
@import '_general'
@import '_responsive'

@font-face
    font-family: "Demi"
    src: url("../fonts/Avenir Next Cyr/AvenirNextCyr-Demi.ttf")
    
@font-face
    font-family: "Bold"
    src: url("../fonts/Avenir Next Cyr/AvenirNextCyr-Bold.ttf")

@font-face
    font-family: "Medium"
    src: url("../fonts/Avenir Next Cyr/AvenirNextCyr-Medium.ttf")

@font-face
    font-family: "Light"
    src: url("../fonts/Avenir Next Cyr/AvenirNextCyr-Light.ttf")

@font-face
    font-family: "Thin"
    src: url("../fonts/Avenir Next Cyr/AvenirNextCyr-Thin.ttf")

@font-face
    font-family: "Regular"
    src: url("../fonts/Avenir Next Cyr/AvenirNextCyr-Regular.ttf")

*
    font-style: normal
    font-family: "Medium"
    margin: 0
    padding: 0
    box-sizing: border-box
    list-style-type: none
    text-decoration: none

body
    position: relative

a
    text-decoration: none